* text=auto

# Ensure scripts have consistent EOL in repo
*.sh  text eol=lf
*.ps1 text eol=crlf

# Improve diffs
*.cs diff=csharp
*.ts diff=javascript
*.js diff=javascript
*.json linguist-language=JSON
*.yml linguist-language=YAML
*.yaml linguist-language=YAML
